* {
  box-sizing: border-box;
}

.firstProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
}
.center {
  display: inline-flex;
  position: relative;
  gap: 100px;
  left: 230px;
  margin-top: 80px;
}

/*   Tabs */
@media only screen and (min-device-width: 768px) and (max-device-width: 900px) {
  .center {
    left: auto;
    width: -webkit-fill-available;
  }
  .firstProgress{
    gap: 38px;
  }
}

/*  Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .center {
    left: 55px;
  }
}

/* resolutions for Desktops. */
@media only screen and (min-width: 1400px) and (max-width: 1670px) {
  .center {
    left: 300px;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 2800px) {
  .center {
    left: 510px;
  }
}
